# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
backend/target/
.pnp
.pnp.js

# testing
coverage/

# production
build/
dist/

# terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# editor / OS
.DS_Store
.idea/

# env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
